#root{
    width: 100%;
    height: 100%;
}
.App {
    width: 100%;
    height: 100%;
    min-width: 1500px;
    min-height: 900px;
    background:url('../images/bg.jpg') center no-repeat;
    background-size: 100% 100%;
    color: #fff;
}
.app-design-container{
    margin: auto;
    width: 1500px;
}
.app-title{
    margin: 0;
    width: 100%;
    height: 60px;
    line-height: 80px;
    color: #fff;
    font-size: 22px;
    text-align: center;
}

.app-source{
   display: inline-block;
   margin-top: 16px;
   padding: 0 14px;
   width: 205px;
   height: 36px;
   line-height: 36px;
   cursor: pointer;
   color: #f7f7f7;
   font-size: 13px;
   border: 1px dashed #d9d9d9;
   background: rgba(255, 255, 255, .15);
}
.app-source:nth-child(2n+1){
    margin-right: 20px;
}
.app-target-wrapper{
    position: relative;
    margin: auto;
    width: 410px;
    height: auto;
}
.app-target{
    position: absolute;
    width: 353px;
    height: 580px;
    top: 80px;
    left: 29px;
    color: #000;
    overflow-x: hidden;
    overflow-y: auto
}
.app-iphone{
    display: block;
    width: 100%;
}
.ant-tabs{
    width: 86%;
    color: #f7f7f7
}
.ant-tabs-nav{
    width: 100%;
}
.ant-tabs-nav .ant-tabs-tab{
    margin: 0;
    width: 50%;
    font-size: 18px;
}
.app-tabs-data{
    float: right
}
.app-source .iconfont{
    float: right;
    font-size: 16px;
}
.app-source:nth-child(1) .iconfont{
    font-weight: 600
}
.app-source:nth-child(3) .iconfont{
    font-size: 14px;
}
.app-source:nth-child(6) .iconfont, .app-source:nth-child(8) .iconfont{
    font-size: 18px;
}

.app-element-body.empty{
    background: url(//gw.alicdn.com/tfs/TB1QAn2eNrI8KJjy0FpXXb5hVXa-249-120.png) no-repeat center;
    position: relative;
    margin-top: 11px;
    min-height: 300px;
}
.app-element-body.empty .text{
    text-align: center;
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
    color: #999;
}
.app-element-wrap{
    position: relative;
    padding:11px 0 4px 0;
}
.app-drag{
    position: absolute;
    top: 11px;
    right: 0;
    bottom: 4px;
    left: 0;
    z-index: 9;
    pointer-events: none;
    border: 1px dashed transparent;
}
.app-remove{
    position: absolute;
    right: 0;
    top: 11px;
    font-size: 12px;
    color: #eee;
    display: none;
    cursor: pointer;
    z-index: 10;
    background: #38adff;
    padding: 3px 2px 2px 3px;
}
.app-remove .anticon-close{
    pointer-events: none;
}
.app-element-wrap:hover .app-remove, .app-element-wrap.active .app-remove{
    display: block;
}
.app-element-wrap:hover .app-drag{
    border-color: #38adff
}
.app-element-wrap.active .app-drag{
    border:1px solid #38adff
}

.app-componentview{
    position: relative;
    pointer-events: none;
}
.app-componentview-border{
    border-width: 1px 0;
    border-style: solid;
    border-color: #c8c8ca transparent;
    background: #fff;
    padding: 15px;
    white-space: nowrap;
}
.app-componentview-label{
    display: inline-block;
    padding: 0 8px 0 0;
    width: 5.5em;
    color: #222;
    font-size: 16px;
}
.app-componentview-placeholder{
    color: #ccc;
    font-size: 15px;
    vertical-align: top;
}

.app-element-textarea .app-componentview-placeholder{
    height: 50px;
    display: inline-block;
}
.app-element-radio .app-componentview-placeholder, 
.app-element-checkbox .app-componentview-placeholder,
.app-element-date .app-componentview-placeholder{
    position: absolute;
    right: 50px;
    top: 18px;
}
.app-element-radio .icon-enter, 
.app-element-checkbox .icon-enter,
.app-element-date .icon-enter{
    position: absolute;
    font-size: 24px;
    right: 15px;
    top: 17px;
    color: #e0e0e0;
}
.app-element-image .icon-camera {
    position: absolute;
    font-size: 26px;
    right: 15px;
    top: 14px;
    color: #858e99;
}
.app-element-tips .app-componentview-border{
    padding: 17px 15px 16px 15px;
    border-color: transparent;
    background: transparent
}
.app-element-tips .note-text{
    margin: 0;
    color: #858e99
}

.app-element-wrap.dragging{
    pointer-events:none;
}
.app-element-wrap.dragging .app-drag{
    border-width: 1px;
    border-color: #666;
    border-style: dashed;
    background: #ccc;
    opacity: .8;
    -webkit-filter: blur(1px);
    filter: blur(1px);
}

.app-element-wrap.dragging .app-componentview{
    -webkit-filter: blur(1px);
    filter: blur(1px);
}

.app-dragging-mark {
    background: #ff4500;
    height: 2px;
    overflow: visible;
    position: relative;
    margin: 3px 0;
}

/* .app-dragging-mark:first-child{
    position: absolute;
    width: 100%;
} */

.app-dragging-mark:before,.app-dragging-mark:after {
    position: absolute;
    content: '';
    display: block;
    height: 0;
    width: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 4px 8px;
    top: -3px
}

.app-dragging-mark:before {
    left: 0;
    border-left-color: #ff4500
}

.app-dragging-mark:after {
    right: 0;
    border-right-color: #ff4500
}